body {
    background-color: #282c34;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
    background-image: url(nature.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  form {
padding: 10px;

  }
  p{
    margin: 5px;
    color: rgb(19, 12, 26);
  }
  input {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    outline: none;
  }
  textarea{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    outline: none;
    height: 100px;
  }
  option{
    margin: 10px;
    padding: 10px;
    width: 100px;
  }